body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grid {
  width: 200px;
  height: 200px;
}

.cell {
  width: 10px;
  height: 10px;
  outline: 2px solid black;
  display: inline-block;
}

.apple {
  color: red;
}

.head {
  color: blue;
}

.tail {
  color: lightblue;
}